@ncr-design-system:registry=https://ncr.jfrog.io/artifactory/api/npm/cxd-npm-releases/
//ncr.jfrog.io/artifactory/api/npm/cxd-npm-releases/:_auth=${JFROG_TOKEN}
//ncr.jfrog.io/artifactory/api/npm/cxd-npm-releases/:always-auth=true
//ncr.jfrog.io/artifactory/api/npm/cxd-npm-releases/:email=${JFROG_EMAIL}
//ncr.jfrog.io/artifactory/api/npm/cxd-npm-releases/:username=${JFROG_USER}